In [1]:
#Concate dictionary
Dic1={1:56,2:55}
Dic2={3:46,4:45}
Dic3={5:50,6:60}
Dic4=dict()
for i in Dic1,Dic2,Dic3:
    Dic4.update(i)
print(Dic4)

{1: 56, 2: 55, 3: 46, 4: 45, 5: 50, 6: 60}

In [2]:
#Tuple
Tuple=(6,7,8,9)
print(Tuple)

(6, 7, 8, 9)

In [3]:
#Dict-Access-Index
Dict1={1:22,2:78,3:89}
List=[]
List=list(Dict1.items())
print(List[0])

(1, 22)

In [5]:
#Dictionary using loop
Dict={1:"JD",2:"Teja",3:"Sai"}
for i in Dict:
    print(i,Dict[i])

1 JD
2 Teja
3 Sai

In [6]:
#List empty loop
List=[1,2,{}]
print(List)

[1, 2, {}]

In [7]:
#List to loop
List=[1,2,3,4,5]
Tuple=tuple(List)
print(Tuple)

(1, 2, 3, 4, 5)

In [8]:
#List of tuples and dictionary
Tuple=([1,"Teja"],[2,"Sai"],[3,"JD"])
Dict=dict(Tuple)
print(Dict)
List=[1,2,3,4,5]
Tuple=tuple(List)
print(Tuple)

{1: 'Teja', 2: 'Sai', 3: 'JD'}
(1, 2, 3, 4, 5)

In [9]:
#Slice tuple
Tuple=(1,2,3,4,5,6,7,8)
print(Tuple[4:])
print(Tuple[0:4])
print(Tuple[-6:-1])

(5, 6, 7, 8)
(1, 2, 3, 4)
(3, 4, 5, 6, 7)

In [10]:
#Sum Dictionary
Dict={1:22,2:67,3:59}
print(sum(Dict.values()))

148

In [11]:
#Sum items list
List=[1,2,3,4,5]
a=sum(List)
print(a)

15

In [13]:
#Tuple different data type
Tuple=(1,"Teja",2.89)
print(Tuple)

(1, 'Teja', 2.89)

In [14]:
#Tuple length
Tuple=(1,2,3,4,5,6)
print(len(Tuple))

6

In [15]:
#Tuple reverse
Tuple=(1,2,3,4,5,6)
Tuple1=tuple(reversed(Tuple))
print(Tuple1)

(6, 5, 4, 3, 2, 1)

In [16]:
#Tuple string
Tuple=("Teja","Sai")
Name=''.join(Tuple)
print(Name)
print(type(Name))

TejaKumar
<class 'str'>

In [17]:
#Tuple to dictionary
Tuple=((1,"Teja"),(2,"Sai"))
Dict=dict(Tuple)
print(Dict)

{1: 'Teja', 2: 'Kumar'}